// Header styles (from default.html inline styles)
.site-header {
  border-top: 5px solid #424242;
  border-bottom: 1px solid #e8e8e8;
  min-height: 55.95px;
  position: relative;
}

.header-nav-link {
  float: right;
  margin-top: 15px;
}
